<html>
    <body>
        <form id="myForm" method="post">
            Api Key: <input name="api_key" type="pass" value="">
            <br />
            Secret Key: <input name="secretKey" type="pass" value="">
            <br />
            <input type="submit">
            <input type="hidden" name="tId" value="<%= tId %>">
        </form>
    </body>
</html>