<html>
    <body>
        <form id="myForm" method="post">
            User Name: <input type="text" name="user" value="">
            <br />
            Password: <input type="password" name="pass" value="">
            <br />
            <input type="submit">
            <input type="hidden" name="tId" value="<%= tId %>">
        </form>
    </body>
</html>